*.o
*.a
stratum/stratum
stratum/blocknotify
blocknotify/blocknotify
blocknotify-dcr/blocknotify-dcr
bin/stratum
bin/blocknotify
bin/blocknotify-dcr
stratum/config/
log/
*.log
web/images/*
web/yaamp/runtime/*
cookies/
bin/blocknotif
web/serverconfig.php
web/assets/
*.rej
*.orig
